<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default Suite">
    <test name="miPrimerTest1">
        <classes>
            <class name="MiPrimerTest">
                <methods>
                    <include name="verificar"/>
                </methods>
            </class> <!-- MiPrimerTest -->
        </classes>
    </test> <!-- miPrimerTest1 -->
</suite> <!-- Default Suite -->